.header
  display flex
  color white
  flex-wrap wrap
  margin 2rem auto
  &__top
    display flex
    align-items center
    margin: 0px auto
  &__logo
    width: 70%
    margin 0 auto
    text-align center
.subscribe
  width 80%
  margin 0 auto
  padding-bottom 30px
  &__links
    margin 0
    padding 0
    display flex
    list-style none
    align-items stretch
    flex-wrap wrap
    justify-content space-between
    @media (max-width: 800px)
      justify-content space-between
  &__link
    flex 0 1 auto
    margin-bottom 1rem
    width 50px
    height 50px
    border-radius: 10px
    opacity 0.6
    background-size contain
    background-repeat: no-repeat
    cursor pointer
    &:hover
      opacity 1.0
    @media (max-width: 670px)
      flex 1 1 auto
      margin-right 1rem
      margin-bottom 1rem

    &--itunes
      background-image  url('/static/icons/itunes.jpg')
    &--overcast
      background-image  url('/static/icons/overcast.jpg')
    &--rss
      background-image  url('/static/icons/rss.svg')
    &--stitcher
      background-image  url('/static/icons/stitcher.jpg')
    &--breaker
      background-image  url('/static/icons/breaker.jpg')
    &--pocketcasts
      background-image  url('/static/icons/pocketcasts.jpg')
    &--googleplay
      background-image  url('/static/icons/googleplay.png')
      background-color white
    &--spotify
        background-image url('/static/icons/spotify.svg')
    &--google
        background-image url('/static/icons/google_podcasts.svg')

