// accessible way of hiding inputs and labels
.sr-only
  border 0 !important
  clip rect(1px, 1px, 1px, 1px) !important
  clip-path inset(50%) !important
  height 1px !important
  overflow hidden !important
  padding 0 !important
  position absolute !important
  width 1px !important
  white-space nowrap !important

.player
  bottom 0
  width 100%
  background: gradient
  border-top 1px solid red
  position fixed
  color white
  display flex
  flex-direction row
  flex-wrap wrap
  align-items center
  z-index 2
  padding-left 2rem
  padding-right 2rem
  button 
    &:focus
      outline:none !important;
  &__icon
    font-size 1.5rem
    line-height 0.5
  &__title
    font-size 1.2rem
    margin 0
    display flex
    align-items center
    padding-left 1rem
    padding-right 1rem
    @media (max-width: 650px)
      display none
  &__tooltip
    position absolute
    top 35px
    transform translate(-50%)
    opacity 0
    &:after
      content " "
      position absolute
      bottom 94%
      left 50%
      margin-left -2px
      border-width 2px
      border-style solid
      border-color transparent transparent white transparent
  &__control
    background gradient
    border 0
    color white
    padding-left 1rem
    padding-right 1rem
  &__duration
    padding-left 1rem
    padding-right 1rem
    user-select none
  &__speeddisplay
    display flex
    justify-content center
    align-items center
    user-select: none
  &__speed
    color white
    background: none
    border: none
    padding-left 1rem
    padding-right 1rem
    display flex
    flex-wrap wrap
    justify-content space-around
    flex-direction column
    align-items center
    width 60px
    &__display
      height 2.5rem
  &__volume
    background: none
    border: none 
    color white
    text-align center
    display flex
    flex-direction column
    justify-content space-around
    align-items center
    padding-left 1rem
    padding-right 1rem
    flex-wrap wrap
    &:focus-within
      outline: red auto 5px;
    &:hover
      label
        border-top 1px solid red
    label
      border-top 1px solid green
      &:hover
        & ~ label
          border-top 1px solid black
    p
      width 100%
      margin 0
    input ~ label
      background green
      border-right 2px solid black
      display inline-block
      width 8px
      height 2.5rem
    input:checked ~ label
      background grey
    input:checked + label
      background green

.progress
  flex 4
  height 2px
  background #A70A1C
  cursor crosshair
  overflow hidden
  &__time
    background white
    min-width 20px
    height 100%
    transition width 0.1s

